<!DOCTYPE html>
{% autoescape true %}
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- REMOTE -->
  <!--link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/-->
  <!-- LOCAL REP -->
  <link rel="stylesheet" href="/static/jqueryui/themes/smoothness/jquery-ui.css" />
  <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
<div class="container">
 <div class="jumbotron ">
    <h1>BandGroupie</h1> 
    <p>A friendly concert reminder.</p>  
 </div>
</div>
    
<div class="container">   
 <div id="head">
   <div id="greeting" class="h4">So <span id="user_name">Friend</span>,
   <span id="message1"> these are the concerts we found today.</span><br>
   <span id="message2"> You can ignore any of your favorites and/or delete any suggestions.</span><br>
   </div>
 </div> 

 <div id="info" class="bg-warning"></div>
 <div id="concerts"></div>
 <br>
 <br>
 <br>
 <div id="main buttons" class="row col-sm-12">
     <a id="settings_button" href='/settings' class="btn btn-info btn-lg">Set your preferences</a> 
     <a id="logout" href="{{logout}}" class="btn btn-info btn-lg glyphicon glyphicon-remove-sign"> Logout</a>
</div>
 
</div>

 <div class="container">   
    <div id='footer'><br> 
     Powered by <a href="http://the.echonest.com">The Echo Nest</a>, <a href="http://last.fm">Last.fm</a>
      and <a href="http://spotify.com">Spotify</a>. 
    </div>
 </div>


</div>

<!-- REMOTE-->
<!--script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>     
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script-->
<!-- LOCAL REP -->
<script src="/static/jquery/dist/jquery.min.js"></script>
<script src="/static/jqueryui/jquery-ui.min.js"></script>     
<script src="/static/bootstrap/dist/js/bootstrap.min.js"></script>

<script> 
jQuery.ajaxSettings.traditional = true; 

var max_fields = 20; //maximum num of concerts displayed
var re = /^(.+)\s*201[4-9]\.\d+\.\d+.+::(\d+)::/;

function info(txt) {
    $("#info").text(txt);
    $("#info").delay(4000).fadeOut("slow");
    $("#info").show();
}

function addConcert(date, venue, show, lnk, eid, type) {
   
   fields++; //field increment
   
   var row =  '<div class="single_concert">';
   // row 1 with info                   
   row += '<div class="row">';
   if (type == 'c') {
        row += '<div class="col-sm-6 h4" id="show"><strong>'+show+'</strong> </div>';     
   }
   else {
        row += '<div class="col-sm-6 h4" id="show"><strong>'+show+'</strong> (suggested) </div>';
   }    
   row += '<div class="col-sm-3 h4">'+date+'</div>';            
   row += '<div class="col-sm-3 h4">'+venue+'</div>';
   row += '<div class="hidden" id="eid"> ::'+eid+':: </div>';            
   row += '</div>'
   // row 2 with buttons
   row += '<div class="row col-sm-12">';
   row += '<a href='+lnk+' class="btn btn-success" id="lnk">Tickets/Info</a> ';
   row += '<button type="button" class="btn btn-warning" id="ign">Ignore</button> ';
   //add extra button if suggestion
   if (type == 's') {
        row += '<button type="button" class="btn btn-danger" id="rmv">Remove</button> ';
   }
   row += '</div>'
   row += '<div class="row"></div><br>'
   //
   row += '</div>'
 
   info ("");       
   $('#concerts').append(row);

}

function removeConcert(eid) { //Deletes suggested band from db
    console.log(eid);
    
    var out = { 
      eid : eid, 
      type : 'rm'
    };
    
    jreq = JSON.stringify(out);  
    console.log(jreq);
    $.post( '/concerts', jreq, 'json' );

    fields--;
}

function ignoreConcert(eid) { //Hides concert
    console.log(eid);
    
    var out = { 
      eid : eid, 
      type : 'ig'
    };
    
    jreq = JSON.stringify(out);  
    console.log(jreq);
    $.post( '/concerts', jreq, 'json' );

    fields--;
}

function showUserConcerts() { 
    
    username = "{{ user }}";
    
    {% for c in concerts %}
    addConcert("{{c[0] |safe}}","{{c[1] |safe}}","{{c[2] |safe}}","{{c[3] |safe}}","{{c[4] |safe}}", "c");
    {% endfor %}
    
    {% for s in suggestions %}
    addConcert("{{s[0] |safe}}","{{s[1] |safe}}","{{s[2] |safe}}","{{s[3] |safe}}","{{s[4] |safe}}", "s");
    {% endfor %}
    
    $("#user_name").text(username);

}

$(function() {
    
    fields = 0;
    cache = {};
    showUserConcerts();
    
    //console.log($('#concerts').text()  == '');
    if ($('#concerts').text()  == '') { 
        $("#message1").text(" looks like there are no concerts matches at the moment :(");
        $("#message2").text("We'll keep looking, we promise. So why don't you check us out tomorrow!");
    }
    
    $('#concerts').on("click","#ign", function(e){ //user click on ignore concert
        e.preventDefault(); 
        concert = $(this).parent('div').parent('div').text();
        console.log(concert);
        $(this).parent('div').parent('div').remove(); //hide concert    
        
        var match = re.exec(concert);
        var show = match[1];
        var eid = match[2];
        
        ignoreConcert(eid);
        info ("Ignored Concert: " +show);
    }); 
    
    $('#concerts').on("click","#rmv", function(e){ //user click on remove concert
        e.preventDefault(); 
        concert = $(this).parent('div').parent('div').text();
        console.log(concert);
        $(this).parent('div').parent('div').remove(); //remove concert  
        
        var match = re.exec(concert);
        var show = match[1];
        var eid = match[2];
        
        removeConcert(eid);
        info ("Removed Concert: " +show);
    }); 
    
}); 

</script>
</body></html>
{% endautoescape %}
