<!DOCTYPE html>
{% autoescape true %}
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- REMOTE -->
  <!--link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/-->
  <!-- LOCAL REP -->
  <link rel="stylesheet" href="/static/jqueryui/themes/smoothness/jquery-ui.css" />
  <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/static/main.css"/>
</head>

<body>
<div class="container">
 <div class="jumbotron ">
    <h1>BandGroupie</h1> 
    <p>A friendly concert reminder.</p>  
 </div>
</div>
    
<div class="container">   
 <div id="head">
   <div id="greeting"><h4>Hello <span id="user_name">Friend</span>! This is your settings page.<br>
   You can follow up to 25 bands and set your emails preferences.</h4>
   </div>
   <br>
   <form>
   <h4>Enter the name of the bands you want to follow:</h4>
   <input id="band_field" name="band" class="ui-autocomplete-input" autocomplete="off"/>
   <button class="btn btn-success glyphicon glyphicon-plus" name="add" id="add"> Add</button>
   </form>
 </div> 

 <div id="info" class="bg-warning"></div>
 <div id="user_bands"> </div>
 <br>
 <br>
 <h4>How often do you want to receive emails about concerts?</h4>
 <div id="email_freq" class="row">
    <div class="form-group col-xs-4">
      <!--label for="sel1"></label-->
        <select class="form-control" id="freq" name="freq">
            <option value=1 id="f1">Every day.</option>
            <option value=3 id="f3">Twice a week.</option>
            <option value=7 id="f7">Once per week.</option>
            <option value=10 id="f10">Every 10 days.</option>
            <option value=0 id="f0">Nope. No emails.</option>
        </select>
    </div>
 </div>
 
 <br>
 <div id="done"><a id="done_button" class="btn btn-info btn-lg">I'm Done</a></div>
 
</div>

 
 <div class="container">   
    <div id='footer'><br> 
     Powered by <a href="http://the.echonest.com">The Echo Nest</a>, <a href="http://last.fm">Last.fm</a>
      and <a href="http://spotify.com">Spotify</a>. 
    </div>
 </div>


</div>

<!-- REMOTE-->
<!--script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>     
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script-->
<!-- LOCAL REP -->
<script src="/static/jquery/dist/jquery.min.js"></script>
<script src="/static/jqueryui/jquery-ui.min.js"></script>     
<script src="/static/bootstrap/dist/js/bootstrap.min.js"></script>

<script> 
jQuery.ajaxSettings.traditional = true; 

var url = "http://developer.echonest.com/api/v4/artist/suggest";
var key = "CE5R35YHRS2WO0EH2";
var max_fields = 25; //maximum bands allowed
var band_list = []; 
var email_settings = 0;

function info(txt) {
    $("#info").text(txt);
    $("#info").delay(4000).fadeOut("slow");
    $("#info").show();
}

function addBand(b) {
   
   console.log("add band "+b);
   band_list.push(b);
   fields++; //field increment
   //getBandImage(b);
                           
   row =  '<div class="row h4">';
   row += '<div class="col-xs-12">';
   row += '<button class="glyphicon glyphicon-minus btn btn-danger btn-sm remove_field"></button>';            
   row += '<span id="band"> '+ b +'</span></div>'; //add band 
     
   info ("");       
   $('#user_bands').append(row);
   console.log(band_list);

}

function removeBand(b) { 
    //console.log(b);
    band_list = jQuery.grep(band_list , function (value) {
        return value != b;
    });
    fields--;
    //console.log(band_list);
}


function bandInList(b){
    x = jQuery.inArray(b, band_list);
   // console.log(x, b, band_list);
    return x;
}   

function showUserSettings() { 
    
    username = "{{ user |safe}}";
    {% for b in bands %}
    addBand("{{b |safe}}");
    {% endfor %}
    email_settings = {{ e_freq }};
    
    email_menu = [1, 3, 7, 10, 0];
    e = email_menu.indexOf(email_settings);
    $("#user_name").text(username);

    var user_freq = $('select#freq');
    user_freq[0].selectedIndex = e;
    //user_freq.selectmenu("refresh");
}

$(function() {
    
    fields = 0;
    cache = {};
    showUserSettings();

    $('#add').click(function(e){ //on add input button click
        
        var band = $('#band_field').val().trim();
        
        e.preventDefault();
        if ( bandInList(band)!= -1) {
            info (band + " is already in the list.");
        }
        else if (band == "") {
            info ("Can't add an empty band name!");
        }
        else if(fields < max_fields){  
            info ("Adding Band: " +band);
            addBand(band);
            $('#band_field').val("");
        }
        else {
            info ("Only 25 bands allowed!");
        }
    });
    
    $('#user_bands').on("click",".remove_field", function(e){ //user click on remove band
        e.preventDefault(); 
        band = $(this).parent('div').text().trim();
        //console.log("... removing ... " + band);
        removeBand(band);
        $(this).parent('div').remove(); //remove row        
        info ("Removed Band: '" +band+"'");
    }); 
    
    $( '#freq' ).selectmenu({
       change: function( event, data ) {
          email_settings = data.item.value;
          console.log("email_settings", email_settings);
       }
    });
                                                                                       
    $('#band_field').autocomplete({ 
        minLength: 2,
		source: function( request, response ) {
			
            var partial_artist = request.term;
            var args = { 
                format:'json', 
                api_key: key,
                name: partial_artist,
                results: 5, 
            };            
     
			if ( partial_artist in cache ) {
				response( cache[ partial_artist ] );
			    return;
			}

			$.getJSON( url, args, function( data, status, xhr ) {	
                if (('artists' in data.response)) {
                    cache[ partial_artist ] = [] ;
                    $.each(data.response.artists, function(index, artist) {      
                    
                        //console.log( index + ": " + artist.name );                  
                        cache[ partial_artist ].push(artist.name);
                    });
           
				    response( cache[ partial_artist ] );	
                }
			});
		}
	});
    
    $('#done').click(function(e){ 
        var out = { 
            ef : email_settings, 
            bs : band_list,
        };
            
        jreq = JSON.stringify(out);  
        
        console.log(out);
        console.log(jreq);
        $.post( '/settings', jreq,"json").done( function() {
            console.log("Going to concerts page ...");
            //alert("Going to concerts page ...");
            window.location = '/concerts';
        });
            
    });    
    
}); 

</script>
</body></html>
{% endautoescape %}
